<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI学习，识别正方系统验证码</title>
    <style>
        h1 {
            text-align: center;
        }
        div{
            margin:0 auto;
            width:50%;
        }
        img {
            min-width: 200px;
        }
        span {
            font-size: 6em;
            margin-left: 40px;
            color: rgb(0,0,153);
        }
    </style>
</head>
<body>
<h1>AI学习，识别正方系统验证码</h1>
<div>
    <h3>下面的图片是从正方系统获取的验证码，以及识别结果</h3>
<img src="data:image/gif;base64,{{ base64 }}"/>
<span>{{ code }}</span>
</div>
</body>
</html>